:root {
    --red: rgb(237, 28, 28);
    --yellow: rgb(255, 187, 0);
    --black: #333;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 4rem;
    border-radius: 0.5rem;
  }
  input[type=text], input[type=email], input[type=tel], input[type=number], input[type=file], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: whitesmoke;
  }

  .submit-container {
    text-align: center;
  }


  input[type=submit] {
    background-color: var(--red);
    color: white;
    padding: 12px 30px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  input[type=submit]:hover {
    background-color: rgb(255, 58, 58);
  }

  .required {
    color: red;
  }

  .hidden {
    display: none;
  }